.song-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;//horizontally
    justify-content: center; //vertically
    img{
        width: 15%;
        border-radius: 50%;
        object-fit: cover;
    }
         h2{
             padding:2.5vw  1vw 1vw 1vw;//top right bottom left
         }
         h3{
            font-size: 1vw;
         }

}

@media screen and (max-width:450px) {
    .song-container{
        img{
            width: 60%;
        }
    }
    
}